<div class="d-flex position-fixed h-100 w-100">
  <div style="position: relative; min-width: 260px; max-width: 260px">
    <div style="position: absolute;">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div class="container row justify-content-betweend-flex">
    <div class="col-md-9 container p-0">
      <!-- Contenido principal con detalles del perfil -->
      <div class="card rounded shadow p-4">
        <h1 class="text-center mb-4">Detalles del perfil del amigo</h1>
        <div *ngIf="selectedUser">
          <div class="row justify-content-center mt-3">
            <div class="col-md-4">
              <!-- Cuadro para la foto de perfil sin borde -->
              <div class="rounded-circle img-container p-3 mb-3 text-center">
                <!-- Imagen del perfil -->
                <img [src]="selectedUser.imageUrl" alt="Profile Image" class="rounded-circle img-fluid">
                <!-- Nombre de usuario en negrita -->
                <p class="mt-2 mb-0 font-weight-bold">@{{ selectedUser.username }}</p>
              </div>
            </div>
            <div class="col-md-4 align-items-center justify-content-center">
              <!-- Detalles del perfil -->
              <div>
                <p class="font-size-lg"><strong>Nombres:</strong> {{ selectedUser.firstName }}</p>
                <p class="font-size-lg"><strong>Apellidos:</strong> {{ selectedUser.lastName }}</p>
                <p class="font-size-lg"><strong>Correo:</strong> {{ selectedUser.email }}</p>
                <p class="font-size-lg"><strong>Teléfono:</strong> {{ selectedUser.phone }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
